<!--
   DESIGNER: Juan Sebastian Garrido Pallares (ID: 100600388) & Pei Shuen Beh (ID: 100599009)
   EXERCISE: Assignment 2
   TASK: CSHTML Document For CONTACT PAGE page
-->

@{
    ViewBag.Title = "Contact";
}

<!--Content wrapper-->

<div class="container-fluid w-100" id="content">

    <div class="row">

        <div class="col-sm-1 col-xl-2"></div>

        <div class="col-sm-10 col-xl-8" style="margin: 30px 0 30px 0;">





            <!--Table for the content-->





            <div class="container">

                <div class="row">

                    <div class="col-sm-12 col-xl-8" style="height: 280px;text-align: center; margin-top: 70px;">
                        <p>You can find us at our main location in <br><span style="font-weight: bold;">123 Main St, Melbourne, VIC, 3000</span></p>
                        <br>
                        <p>Feel free to call between 9:00 am to 5:30 pm during weekdays at <br><span style="font-weight: bold;">0444 555 666</span></p>
                        <br>
                        <p>You can also write to us at: <span style="font-weight: bold;">donatsu@gmail.com</span> </p>
                    </div>

                    <div class="col-sm-12 col-xl-4" style="height: 280px; text-align: center; font-size: 1.2em; margin-top: 70px;">
                        <img src="~/images/contact/map.jpg" height="200" width="380" alt="Map">
                    </div>

                </div>

                <div class="row" style="margin: 20px 0 20px 0;">

                    <div class="col-xl-12 d-none d-xl-block" style="height: 40px; font-size: 1.2em; text-align: center; margin-top:  60px; background-color: rgba(244, 229, 173, 0.8); border-radius: 3px;">

                        <p>Come try the best donuts, or order online!</p>

                    </div>

                </div>

            </div>


        </div>

        <div class="col-sm-1 col-xl-2"></div>

    </div>

</div>


