<!--
   DESIGNER: Juan Sebastian Garrido Pallares (ID: 100600388) & Pei Shuen Beh (ID: 100599009)
   EXERCISE: Assignment 2
   TASK: CSHTML Document For PRODUCTS PAGE page
-->


@{
    ViewBag.Title = "Products";
}


<!--Content wrapper-->

<div class="container-fluid w-100" id="content">

    <div class="row">

        <div class="col-sm-2 col-xl-2"></div>

        <div class="col-sm-8 col-xl-8" style="margin: 30px 0 30px 0;">

            <!--Table for the content-->

            <div class="container">

                <div class="row" style="margin: 20px 0 20px 0;">

                    <div class="col-sm-12 col-xl-4" style="height: 450px; text-align: center; padding: 0;">
                        <div class="card" style="width: 100%;">
                            <img class="card-img-top" style="height: 286px;" src="~/images/products/chocolate.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Chocolate Donut</h5>
                                <p class="card-text">Just the classic and simple chocolate topped donut. 3.50$ea</p>
                                <a href="#" class="btn btn-primary" style="background-color: rgb(212, 157, 99); border: none;">Add to cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-4" style="height: 450px;text-align: center; padding: 0;">
                        <div class="card" style="width: 100%;">
                            <img class="card-img-top" style="height: 286px;" src="~/images/products/strawberry.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Strawberry Donut</h5>
                                <p class="card-text">Enjoy our latest addition, filled with strawberry chunks. 3.50$ea</p>
                                <a href="#" class="btn btn-primary" style="background-color: rgb(212, 157, 99); border: none;">Add to cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-4" style="height: 450px;text-align: center; padding: 0;">
                        <div class="card" style="width: 100%;">
                            <img class="card-img-top" style="height: 286px;" src="~/images/products/jamcream.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Cream & Jam Donut</h5>
                                <p class="card-text">Refreshing cream, and sweet jam. 3.50$ea</p>
                                <a href="#" class="btn btn-primary" style="background-color: rgb(212, 157, 99); border: none;">Add to cart</a>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="row" style="margin: 20px 0 20px 0;">

                    <div class="col-sm-12 col-xl-4" style="height: 450px;text-align: center; padding: 0;">
                        <div class="card" style="width: 100%">
                            <img class="card-img-top" style="height: 286px;" src="~/images/products/nutella.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Nutella Donut</h5>
                                <p class="card-text">Filled with authentic Nutella, you can't miss this. 3.50$ea</p>
                                <a href="#" class="btn btn-primary" style="background-color: rgb(212, 157, 99); border: none;">Add to cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-4" style="height: 450px;text-align: center; padding: 0;">
                        <div class="card" style="width: 100%">
                            <img class="card-img-top" style="height: 286px;" src="~/images/products/berries.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Berry Donut</h5>
                                <p class="card-text">Get yout dose of berries with our best seller donut. 3.50$ea</p>
                                <a href="#" class="btn btn-primary" style="background-color: rgb(212, 157, 99); border: none;">Add to cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-4" style="height: 450px;text-align: center; padding: 0;">
                        <div class="card" style="width: 100%">
                            <img class="card-img-top" style="height: 286px;" src="~/images/products/jam.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Classic Jam Donut</h5>
                                <p class="card-text">For the lovers of the classic flavours. 3.50$ea</p>
                                <a href="#" class="btn btn-primary" style="background-color: rgb(212, 157, 99); border: none;">Add to cart</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>

        <div class="col-sm-2 col-xl-2"></div>

    </div>

</div>

